SiteAeroFatec/obj/Debug/net10.0/compressed/ed3xu6wln4-{0}-rzd6atqjts-rzd6atqjts.gz
/SiteAeroFatec/obj/Debug/net10.0/compressed
SiteAeroFatec/obj/Debug/net10.0/SiteAeroFatec.genruntimeconfig.cache
/SiteAeroFatec/obj/Debug/net10.0
/SiteAeroFatec/bin/Debug/net10.0
/SiteAeroFatec/.vs/SiteAeroFatec.slnx/v18
/SiteAeroFatec/.vs
*.user
/obj
/bin
/SiteAeroFatec/obj
